<form [formGroup]="createForm">
<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Name: </span>
  </div>
  <input type="text" style="text-align:center;" name="" class="form-control" value="" placeholder="" required
    [(ngModel)]="toyInfo.name" formControlName="name">
</div>

<div class="text-danger" *ngIf="createForm.controls.name.errors">
  Name is required.
</div>

<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Description: </span>
  </div>
  <textarea class="form-control" rows="5"   [(ngModel)]="toyInfo.description" formControlName="description" required>
  </textarea>
</div>

<div class="text-danger" *ngIf="createForm.controls.description.errors">
  Description is required.
</div>

<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Short description: </span>
  </div>
  <input type="text" style="text-align:center;" name="" class="form-control" value="" placeholder="" required
    [(ngModel)]="toyInfo.shortDescription" formControlName="shortDescription">
</div>

<div class="text-danger" *ngIf="createForm.controls.shortDescription.errors">
  Short description is required.
</div>

<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Select category: </span>
  </div>
<div>
  <select class="form-control" [(ngModel)]="toyInfo.category" formControlName="category">
    <option [value]=all >Other</option>
    <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
  </select>
</div>
</div>

<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Price: </span>
  </div>
  <input type="number" style="text-align:center;" name="" class="form-control" value="" placeholder="" required
    [(ngModel)]="toyInfo.price" formControlName="price">
</div>

<div class="text-danger" *ngIf="createForm.controls.price.errors">
  Price is required.
</div>

<div class="input-group mb-3">
  <div class="input-group-append">
    <span class="input-group-text">Quantity: </span>
  </div>
  <input type="number" style="text-align:center;" name="" class="form-control" value="" placeholder="" required
    [(ngModel)]="toyInfo.quantity" formControlName="price">
</div>

<div class="text-danger" *ngIf="createForm.controls.quantity.errors">
  Price is required.
</div>

<div class="d-flex justify-content-center mt-3">
  <input type="button" class="btn btn-primary btn-lg" value="Submit"
    (click)="submitToy()" [disabled]="!createForm.valid" />
</div>

</form>
