<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Pet Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ show: navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="toggleNavbar()">Home</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          routerLink="/toy/create"
          *ngIf="authService.isAuthenticated()"
          (click)="toggleNavbar()"
          >Create toy</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          routerLink="/login"
          *ngIf="!authService.isAuthenticated()"
          (click)="toggleNavbar()"
          >Login</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          routerLink="/orders"
          *ngIf="authService.isAuthenticated()"
          (click)="toggleNavbar()"
          >Orders</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          routerLink="/category"
          *ngIf="authService.isAuthenticated()"
          (click)="toggleNavbar()"
          >Categories</a
        >
      </li>
    </ul>
    <ul class="nav ms-auto me-3">
      <li class="nav-item me-3">
        <div class="d-flex" *ngIf="!authService.isAuthenticated()" id="buy">
          <button
            type="button"
            name="button"
            class="btn btn-primary"
            (click)="router.navigate(['/order'])">
            Pay
          </button>
        </div>
      </li>
      <li class="nav-item">
        <i
          class="fas fa-shopping-cart mb-2 mt-2"
          id="faIcon"
          style="color: #dddddd"
          *ngIf="!authService.isAuthenticated()"
          >{{ orderService.numberOfItems() }}</i
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          routerLink="/"
          *ngIf="authService.isAuthenticated()"
          (click)="authService.logout()"
          (click)="toggleNavbar()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
