<form [formGroup]="createCategoryForm">
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text">Category name: </span>
    </div>
    <input
      type="text"
      style="text-align: center"
      class="form-control"
      required
      formControlName="categoryName" />
  </div>

  <div class="d-flex justify-content-center mt-3">
    <input
      type="button"
      class="btn btn-primary btn-lg"
      value="Create new"
      [disabled]="!createCategoryForm.valid"
      (click)="addNewCategory()"/>
  </div>

  <div class="text-danger" *ngIf="createCategoryForm.controls.categoryName.errors">
    Category name is required.
  </div>
</form>

<hr />

<form [formGroup]="deleteCategoryForm">
  <div class="input-group mb-3">
    <div class="input-group-append">
      <span class="input-group-text">Select category to delete: </span>
    </div>
    <div>
      <div class="form-control">
        <select formControlName="categoryId">
          <option [ngValue]="0">None</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <input
      type="button"
      class="btn btn-primary btn-lg alert-danger"
      value="Delete"
      (click)="deleteCategory()" />
  </div>
</form>
