<hr />

<form [formGroup]="searchForm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="form-control">
          <select [(ngModel)]="getToyParams.order" formControlName="order" (change)="filter()">
            <option [ngValue]="0">Order by price</option>
            <option [ngValue]="1">Ascending</option>
            <option [ngValue]="2">Descending</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-control">
          <select
            [(ngModel)]="getToyParams.category"
            formControlName="category"
            (change)="filter()">
            <option [ngValue]="0">All categories</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-control">
          <select
            [(ngModel)]="getToyParams.limit"
            formControlName="pageSize"
            (change)="filter()">
            <option [ngValue]="0">Choose page size</option>
            <option *ngFor="let number of pageSizeList" [ngValue]="number + 1">
              {{ number + 1 }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <input
          class="form-control"
          type="search"
          placeholder="Search by name"
          aria-label="Search"
          [(ngModel)]="getToyParams.matchName"
          formControlName="matchName"
          (keydown)="onKeyDown($event)" />
      </div>

      <div class="col-md-4">
        <button class="btn btn-outline-success" type="submit" (click)="filter()">Search</button>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-sm-4" *ngFor="let element of toys.items">
        <div class="card-columns">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="['/toys', element.id]">{{ element.name }}</a>
              </h5>
              <p class="card-text">{{ element.shortDescription }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="element.category">
                {{ element.category }}
              </li>
              <li class="list-group-item" *ngIf="!element.category">Category: None</li>
              <li class="list-group-item">
                {{ element.price }} <i class="fas fa-dollar-sign"></i>
              </li>
              <li class="list-group-item" *ngIf="!authService.isAuthenticated()">
                In cart: {{ numberOfItems(element.id) | async}}
              </li>
            </ul>
            <div class="card-body">
              <div class="d-flex justify-content-center mt-3" *ngIf="authService.isAuthenticated()">
                <button
                  type="button"
                  name="button"
                  class="btn btn-primary"
                  (click)="router.navigate(['/toy/edit', element.id])">
                  Edit
                </button>
              </div>

              <div class="d-flex justify-content-center mt-3" *ngIf="authService.isAuthenticated()">
                <button
                  type="button"
                  name="button"
                  class="btn btn-primary"
                  (click)="deleteToy(element.id)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div> 
  </div>
</form>

<ngb-pagination [collectionSize]="toys.total" [(page)]="page" (pageChange)="paginate()" [pageSize]="getToyParams.limit" [maxSize]="10"/>